[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "https://a-strategyagency.com/*"
  to = "https://www.a-strategyagency.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "/en/*"
  to = "/en/index.html"
  status = 200

[[redirects]]
  from = "/es/*"
  to = "/es/index.html"
  status = 200
[build.environment]
  NODE_VERSION = "18"
